:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --fgColor-default: #24292f;
  --fgColor-muted: #57606a;
  --fgColor-accent: #0969da;
  --bgColor-default: #ffffff;
  --bgColor-muted: rgba(140, 149, 159, 0.1);
  --borderColor-default: #d0d7de;
  --header-height: 56px;
  --header-bar: 10px;
  --full-header-height: 66px;
  --scroll-margin-top: 90px;
}
